name: Swift

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:   # allows manual runs in the GitHub UI

jobs:
  build:
    runs-on: macos-latest

    steps:
      - uses: actions/checkout@v4

      - name: Build
        run: make build

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: bclm
          path: .build/apple/Products/Release/bclm
